
/* makes a sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* makes the image fit */
.face {
    width: auto;
    height: auto;
    
}


/* changes the colors from Materialize defaults to my choice of colors */

.input-field input:focus + label {
    color:black !important;
  }
  /* label underline focus color */
 .row .input-field input:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black!important;
  }
/* changes the icon colors from default to my choice */
  .material-icons{
    color: #1a237e !important;
    }
  
  .material-icons.active {
    color: black !important;
    }
/* changes the text area from default to my choice */
   .input-field textarea:focus + label {
       color: black !important;
   }

   .row .input-field textarea:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black!important;

   }

 /* allows footer to fully cover the bottom  */
 
   .footer {
       height: auto;
   }